<!-- thank_you.html -->
<h2>Thank you for your feedback!</h2>
<p>We appreciate you taking the time to provide your valuable feedback. Your input helps us improve our services.</p>
<p>Thank you for providing your feedback!</p>
<p>Features Feedback: {{ features_feedback }}</p>
<p>Overall Experience: {{ overall_experience }}</p>
<p>The Future: {{ the_future }}</p>
<p>Open-Ended Feedback: {{ open_ended_feedback }}</p>

<a href="{% url 'GamifQuiz:play_again' %}" class="btn btn-primary">PLAY AGAIN</a>
